:root {
  --main-color: #b69948;
  --accent-color: #e6d18f;
  --page-background: #ffffed;
  --soft-background: #f0f1cf;
  --text-color: black;
  --main-font: Georgia, "Times New Roman", serif;
  --content-width: 75%;
  --padding: 0.5rem;
}